{% extends 'base/base.html' %}

{% block content %}

<!-- MultiCursor ozelligini kesinlikle ogrenin -->


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'carousel_create' %}">Carousel - Create</a>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">pk</th>
                    <th scope="col">title</th>
                    <th scope="col">Cover Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in carousel %}
                  <tr>
                    <th scope="row">{{ item.pq }}</th>
                    <td>{{item.title}}</td>
                    <td>
                        {% if item.cover_image %}
                            <img src="{{ item.cover_image.url }}" class="center">
                        {% else %}
                         <p>Görsel Yok</p>
                        {% endif %}
                    
                    </td>
                    <td><a href="{% url 'carousel_update' item.pk %}" class="btn btn-primary">Edit</a></td>
                  </tr>
               {% endfor %}

                </tbody>
              </table>
          
                 <br>
        </div>
        
    </div>
</div>

{% endblock %}
